header a {
    color: rgba(255, 255, 255, 0.87);
    text-decoration: none;
}

header {
    padding: 20px;
    text-align: center;
    width: 500px;
}

.dropdown {
    width: 100px;
    padding: 10px 20px;
    border-radius: 5px;
}

.dropdown button {
    background-color: rgba(255, 255, 255, 0.87) !important;
    color: #282827 !important;
}
#head{
    background-color: #282827;
}
.dropDownLinks{
    a{
        color: black;
    }
}